@charset "UTF-8";

@font-face {
	font-family:'Milkshake';
	src: url(webfonts/Milkshake/Milkshake.ttf);
}

@font-face {
	font-family:'AmaticSC Regular';
	src:url(amatic/AmaticSC-Regular.ttf);
}

@font-face {
	font-family:'ostrich regular';
	src:url(ostrich-sans/ostrich-regular.ttf);
}


#header {
	left:0;
	top:0;
	width:100%;
	height:4em;
	background-color:rgba(255,255,255,1.00);
	position:fixed;
	display:flex;
	align-items:center;
	z-index:1000;
}

#newVid {
	text-align:center;
	height:17vw;
	z-index:0;
	position:absolute;
	left:8%;
	top:18em;
	padding:0;
	margin:0em;
	width:30%;
	opacity:0;
	background-color:transparent;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv1 {
	z-index:0;
	position:absolute;
	left:53%;
	top:10em;
	padding:0;
	margin:0em;
	width:45%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv2 {
	z-index:1;
	position:absolute;
	top:8em;
	padding:0;
	margin:0;
	width:45%;
	left:2%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv3 {
	z-index:0;
	position:absolute;
	left:5%;
	top:8em;
	padding:0;
	margin:0;
	width:40%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv4 {
	z-index:0;
	position:absolute;
	left:55%;
	top:18em;
	padding:0;
	margin:0;
	width:40%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:1.25s;
}

#textdiv5 {
	z-index:0;
	position:absolute;
	left:17.5%;
	top:10em;
	padding:0;
	margin:0;
	width:65%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv6 {
	z-index:1;
	position:absolute;
	top:3em;
	padding:0;
	margin:0;
	width:45%;
	left:2%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv7 {
	z-index:0;
	position:absolute;
	left:17.5%;
	top:6em;
	padding:0;
	margin:0;
	width:65%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

.greySep {
	position:relative;
	top:1.5em;
	left: 12.5%;
	width:75%;
	height:0.05em;
	background-color:rgba(93,91,91,0.7);
}

#textdiv9 {
	height:45em;
	z-index:0;
	position:absolute;
	left:17.5%;
	top:6em;
	padding:0;
	margin:0;
	width:65%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
	overflow:scroll;
	background-color:rgba(6,232,230,0.7);
}

#textdiv10 {
	display:none;
	z-index:0;
	position:relative;
	left:50%;
	margin-left:-35%;
	top:10em;
	padding:0;
	width:70%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv11 {
	z-index:0;
	position:relative;
	left:50%;
	margin-left:-20%;
	top:10em;
	padding:0;
	width:40%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:1.25s;
}

#textdiv12 {
	text-align:center;
	z-index:0;
	position:relative;
	left:50%;
	margin-left:-35%;
	top:10em;
	padding:0;
	width:70%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
}

#textdiv13 {
	text-align:center;
	z-index:0;
	position:relative;
	left:50%;
	margin-left:-35%;
	top:12em;
	padding:0;
	width:70%;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:1s;
}

#textdiv14 {
	z-index:0;
	position:relative;
	left:17.5%;
	top:16em;
	padding:0;
	margin:0;
	width:65%;
}

#textdiv14 .innerTextDiv {
	text-align:center;
}

#textdiv13 .innerTextDiv p {
	font-size:1.7em;
}

#sa_contactdiv {
	font-family:Quicksand;
	left:50%;
	position:relative;
	margin-bottom:3em;
	margin-top:3em;
	width:28.2em;
	text-align:center;
	margin-left:-14.1em;
}

#sa_contactdiv label {
	font-size:2em;
}

#sa_contactdiv input {
	width:100%;
	height:2em;
	font-size:0.7em;
	text-align:center;
}

#sa_contactdiv textarea {
	width:100%;
	font-size:0.6em;
}

#textdiv9 .innerTextDiv {
	text-align:center;
	background-color:transparent;
}

#textdiv9 .innerTextDiv p {
	margin-top:2.1em;
	font-size:1.3em;
}

#footer {
	z-index:2;
	position:relative;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height: 5em;
	background-color:rgba(6,232,230,0.4);
	clear:both;
	flex-shrink: 0;
	display:none;
	overflow:hidden;
}

.innerTextDiv {
	width:100%;
	height:100%;
	background-color:rgba(6,232,230,0.7);
}

#logo {
	
	height:3.5em;
	opacity:1;
	z-index:1002;
	left:4%;
	position:absolute;
	top:50%;
	margin-top:-1.75em;
	display:none;
}

#blackStrip {
	top:0;
	left:0;
	margin-top:4em;
	width:100%;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	z-index:400;
	display:block;
	position:fixed;
	display:none;
}

.headerOptionAbout {
	width:7em;
	height:2.5em;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-1.25em;
	line-height:2.5em;
	font-family:Quicksand;
	display:none;
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

.headerOptionTeam {
	width:7em;
	height:2.5em;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-1.25em;
	line-height:2.5em;
	font-family:Quicksand;
	display:none;
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

.headerOptionWorkshops {
	width:7em;
	height:2.5em;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-1.25em;
	line-height:2.5em;
	font-family:Quicksand;
	display:none;
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

.headerOptionProjects {
	width:7em;
	height:2.5em;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-1.25em;
	line-height:2.5em;
	font-family:Quicksand;
	display:none;
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

.headerOptionContact {
	width:7em;
	height:2.5em;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-1.25em;
	line-height:2.5em;
	font-family:Quicksand;
	display:none;
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

#about {
	left:50%;
	z-index:13;
	position:absolute;
}

#team {
	left:80%;
	z-index:13;
	position:absolute;
}

#workshops {
	left:70%;
	z-index:13;
	position:absolute;
}

#projects {
	left:60%;
	z-index:13;
	position:absolute;
}

#contact {
	left:90%;
	z-index:13;
	position:absolute;
}

.fontSize {
	font-size:1em;
	font-weight:400;
}

.optionLineAbout {
	width:3.5em;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	margin: auto;
	display:none;
	position:relative;
	top:-10%;
}

.optionLineTeam {
	width:3.5em;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	margin: auto;
	display:none;
	position:relative;
	top:-10%;
}

.optionLineWorkshops {
	width:3.5em;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	margin: auto;
	display:none;
	position:relative;
	top:-10%;
}

.optionLineProjects {
	width:3.5em;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	margin: auto;
	display:none;
	position:relative;
	top:-10%;
}

.optionLineContact {
	width:3.5em;
	height:0.4em;
	background-color:rgba(6,232,230,1.00);
	margin: auto;
	display:none;
	position:relative;
	top:-10%;
}

#BGimage {
	position:absolute;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:100%;
}

#widthAdjust {
	width:inherit;
	height:inherit;
	position:relative;
	top:0em;
	background-image:url(indexImage.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;  
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

#startLogo{
	left:50%;
	margin-left:-12.5em;
	position:absolute;
	top:30%;
	width:25em;
	display:none;
	-webkit-transition: top 1s ease-in;
    -moz-transition: top 1s ease-in;
    -ms-transition: top 1s ease-in;  
    -o-transition: top 1s ease-in;
    transition: top 1s ease-in;
}
	
#click {
	position:absolute;
	top:calc(5em + 47%);
	width:5em;
	left:50%;
	margin-left:-2.5em;
	font-family:Quicksand;
	font-size:1.5em;
	opacity:0.8;
	display:none;
	color:rgba(6,232,230,1.00);
}

#paravid {
	width:100%;
	height:42em;
	position:relative;
	z-index:20;
	left:0;
	background-color: rgba(6,232,230,0.7);
}
	
#para1 {
	width:100%;
	height:35em;
	position:relative;
	z-index:200;
	top:0;
	left:0;
}

#para2 {
	width:100%;
	height:35em;
	position:relative;
	z-index:19;
	top:0em;
	left:0;
}

#para3 {
	width:100%;
	height:45em;
	position:relative;
	z-index:-19;
	top:0em;
	left:0;
}

#para4 {
	width:100%;
	height:35em;
	position:relative;
	z-index:4;
	top:0;
	left:0;
}

#para5 {
	width:100%;
	height:35em;
	position:relative;
	z-index:3;
	top:0;
	left:0;
}

#para6 {
	width:100%;
	height:35em;
	position:relative;
	z-index:2;
	top:0;
	left:0;
}

#para7 {
	width:100%;
	height:45em;
	position:relative;
	z-index:-19;
	top:0em;
	left:0;
}

#para4 .blueLine1 {
	top:35em;
}

#para5 .blueLine2 {
	top:35em;
}

#para6 .blueLine5 {
	top:35em;
}


.blueLine1 {
	width:100%;
	height:0.1em;
	position:absolute;
	background-color:rgba(6,232,230,1.00);
	display:none;
	top:35em;
	left:0;
	z-index:-1;
}

.blueLine2 {
	width:100%;
	height:0.1em;
	position:absolute;
	background-color:rgba(6,232,230,1.00);
	display:none;
	top:35em;
	left:0;
	z-index:-1;
}

.blueLine4 {
	width:100%;
	height:0.1em;
	position:absolute;
	background-color:rgba(6,232,230,1.00);
	display:none;
	top:42em;
	left:0;
	z-index:25000;
}

.blueLine5 {
	width:100%;
	height:0.1em;
	position:absolute;
	background-color:rgba(6,232,230,1.00);
	display:none;
	top:36.2em;
	left:0;
	z-index:-1;
}

.blueLine6 {
	width:100%;
	height:0.1em;
	position:relative;
	background-color:rgba(6,232,230,1.00);
	top:0;
	left:0;
	z-index:5;
}
	
.bottom {
	bottom:0;
}

#youtubeDiv {
	width:100%;
	height:45vw;
	position:absolute;
	top:50%;
	left:0;
	margin-top:-24vw;
	text-align:center;
}

#film {
	width:80%;
	height:inherit;
	z-index:4;
}

#film1 {
	width:100%;
	height:inherit;
	z-index:4;
}

#white1 {
	height:inherit;
	position:absolute;
	width:15em;
	background-color:rgba(255,255,255,1.00);
	left:0%;
	z-index:5;
}

#white2 {
	height:inherit;
	position:absolute;
	width:15em;
	background-color:rgba(255,255,255,1.00);
	right:0;
	z-index:5;
}

#testing {
	width:100%;
	height:200em;
	background:transparent;
	display:block;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.paraWhite1 {
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,1.00);
	display:block;
	z-index: 1;
	position:absolute;
	top:0em;
	left:0;
	opacity:1;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.paraWhite2 {
	opacity:1;
	width:100%;
	height:50%;
	background-color:rgba(255,255,255,1.00);
	display:block;
	z-index: 200;
	position:absolute;
	top:35em;
	left:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.25s;
}

#textdiv8 {
	width:45%;
	left: 51%;
	top:10em;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:0.75s;
	position:absolute;
}

#aboutBGinner {
	padding-top:0.2em;
	width:100%;
	margin: 0.2em auto;
	background-color:rgba(6,232,230,0.8);
	font-family:Quicksand;
	text-align:justify;
	line-height:1.8;
	height:100%;
}	 

#aboutBGinner p {
	margin:0.5em 1em;
	font-family: 'Quicksand', cursive;
	font-size:calc(1vw + 1vh + 0.3vmin);

}

.innerTextDiv p {
	font-size:calc(1.3vw + 1.3vh + 1.2vmin);
	font-weight:100;
	margin: 0 0;
	font-family:"Quicksand";
}

#para2 .innerTextDiv p {
	font-size:calc(1vw + 1vh + 1.2vmin);
}

#textdiv5 .innerTextDiv p {
	font-size:calc(1.2vw + 1.2vh + 1vmin);
	font-family:"Quicksand";
}

#textdiv6 .innerTextDiv p {
	font-size:calc(1vw + 1vh + 0.8vmin);
	font-family:"Quicksand";
}

#textdiv7 .innerTextDiv p {
	font-size:calc(1.2vw + 1.2vh + 1vmin);
	font-family:"Quicksand";
}

#aboutPic {
	width:100%;
	top:4em;
	left:0;
	height:40em;
	position:relative;
	z-index:3;
}

#aboutPic2 {
	top:0em;
	left:0;
	width:100%;
	position:relative;
	z-index:-30;
	height:40em;
}

.aboutWhiteBlock {
	position:absolute;
	top:31em;
	width:100%;
	height:50em;
	background-color:rgba(255,255,255,1.00);
	border-top-style:solid;
	border-top-color:rgba(6,232,230,1.00);
	border-top-width:0.2em;
}

.kaneImage {
	height:inherit;
	width:inherit;
}

.hideme {
  opacity: 0;
}

#facebook {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:75%;
	z-index:2;
}

#twitter {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:81%;
	z-index:2;
}

#insta {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:87%;
	z-index:2;
}

#youtube {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:93%;
	z-index:2;
}

#facebookB {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:75%;
	z-index:1;
	opacity:0;
}

#twitterB {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:80.95%;
	z-index:1;
	opacity:0;
}

#instaB {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:87%;
	z-index:1;
	opacity:0;
}

#youtubeB {
	position:absolute;
	height:70%;
	top:50%;
	margin-top:-1.75em;
	left:93%;
	z-index:1;
	opacity:0;
}

#footerText {
	width:100%;
	font-size:0.8em;
	position:absolute;
	top:57%;
	line-height:1.5em;
	left:2.5%;
	font-family:Quicksand;
}

#footerAdmin {
	width:100%;
	text-align:center;
	font-size:1em;
	font-weight:100;
	position:absolute;
	font-family:Quicksand;
	height:2em;
	top:50%;
	margin-top:-0.85em;
	line-height:2em;
}

#footerEddie {
	font-size:0.8em;
	position:absolute;
	top:30%;
	line-height:1.5em;
	left:2.5%;
	font-family:Quicksand;
	z-index:20;
}

#seperator1 {
	position:absolute;
	top:50%;
	margin-top:-1em;
	width:0.2em;
	height:50%;
	background-color:rgba(0,0,0,0.2);
	left:31%
}

#seperator2 {
	position:absolute;
	top:50%;
	margin-top:-1em;
	width:0.2em;
	height:50%;
	background-color:rgba(0,0,0,0.2);
	left:69%
}

#footerAbout {
	z-index:2;
	position:absolute;
	left:0;
	top:80em;
	padding:0;
	margin:0;
	width:100%;
	height: 5em;
	background-color:rgba(6,232,230,0.4);
}

.blueline3 {
	width:100%;
	height:0.1em;
	position:absolute;
	background-color:rgba(6,232,230,1.00);
	display:none;
	top:41.2em;
	left:0;
	z-index:-1;
}

#contactBGimage {
	height:60em;
	width:100%;
	position:relative;
	top:0;
	left:0;
	margin-bottom:-5em;
	z-index:0;
	background-image:url(Gallery%20Pictures/PS-0655.jpg);
	background-size:cover;
} 

#teamBGimage {
	width:100%;
	position:relative;
	top:0;
	left:0;
	margin-bottom:-5em;
	z-index:0;
	background-image:url(kane_051blur.JPG);
	background-size:contain;
	height:1200px;
}

#grid-container {
	width:95%;
	margin:8em auto;
	margin-bottom:2em;
}	

#grid-container-projects {
	width:95%;
	margin-top:8em;
	left:0;
	margin-bottom:3em;
}

#kane {
	width:33%;
}

.load {
    opacity: 0;
}

.downArrow.load1 {
    opacity: 1;
}

#textdiv1.load1 {
    opacity: 1;
}

#newVid.load1 {
    opacity: 1;
}

#textdiv2.load2 {
    opacity: 1;
}

#textdiv3.load1 {
    opacity: 1;
}

#textdiv4.load2 {
    opacity: 1;
}

#textdiv10.load1 {
    opacity: 1;
}

#textdiv12.load1 {
    opacity: 1;
}

#textdiv13.load1 {
    opacity: 1;
}

#textdiv11.load2 {
    opacity: 1;
}


#textdiv5.load1 {
    opacity: 1;
}

#textdiv6.load2 {
    opacity: 1;
}

#textdiv7.load2 {
    opacity: 1;
}

#textdiv9.load2 {
    opacity: 1;
}

#textdiv8.load3 {
    opacity: 1;
}

#startLogo.click {
	top: -20%;
}

#project1 {
	width:30%;
}

#project2 {
	width:30%;
}

#project3 {
	width:40%;
}

#project4 {
	width:40%;
}

#project5 {
	width:40%;
}

#project6 {
	width:40%;
}

#project7 {
	width:40%;
}

html {
  height: 100%; 
  margin:0;
  padding:0;
}

body {
  min-height: 100%;
  display:-webkit-flex;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.content {
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding-bottom: 0em;
  position:relative;
}

.cbp-l-grid-mosaic-flat .cbp-item {
  width: 700px;
}

footer a {
	text-decoration:none;
	color:rgba(0,0,0,1.00)
}

footer a:hover{
	text-decoration:underline;
	color:rgba(0,0,0,1.00)
}

label {
	font-size:2em;
}

.slicknav_menu {
	display:none;
}

#menu {
		display:none;
	}
	
.downArrow {
	width:100%;
	text-align:center;
	height:2em;
	position:relative;
	top:98%;
	z-index:10;
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;  
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	transition-delay:1.5s;
}

#paravid .downArrow {
	top:93%;
}

#para1 .downArrow {
	top:92%;
}

#para2 .downArrow {
	top:90%;
}

#para4 .downArrow {
	top:90%;
}

#para5 .downArrow {
	top:90%;
}

#para6 .downArrow {
	top:90%;
}

#aboutPic .downArrow {
	top:85%;
	margin-left:-25%;
}

#arrow1 {
	height:inherit;
}

#arrow2 {
	height:inherit;
}

#arrow3 {
	height:inherit;
}

#arrow4 {
	height:inherit;
}

#arrow5 {
	height:inherit;
}

#arrow6 {
	height:inherit;
}

#arrow7 {
	height:inherit;
}


#arrow1:hover {
	cursor:pointer;
}

#arrow2:hover {
	cursor:pointer;
}

#arrow3:hover {
	cursor:pointer;
}
	
#arrow4:hover {
	cursor:pointer;
}

#arrow5:hover {
	cursor:pointer;
}

#arrow6:hover {
	cursor:pointer;
}

#arrow7:hover {
	cursor:pointer;
}
	
.margin .innerTextDiv p {
	padding-top: .5em;
	margin: .5em;
}

#book {
	text-align:center;
	position:fixed;
	top:4.4em;
	width:100%;
	height:3em;
	left:0;
	background-color:rgba(6,232,230,0.9);
	font-family:Quicksand;
	font-size:1em;
	z-index:1000;
	display:none;
}

#bookTest {
	text-align:center;
	position:absolute;
	width:inherit;
	line-height:3em;
}

#bookTest a {
	text-decoration:none;
	color:rgba(202,24,24,1.00);
}

#bookTest a:hover {
	text-decoration:underline;
	cursor:pointer;
}

#bookTest a:visited {
	color:rgba(202,24,24,1.00);
}

strong, b {
	font-weight:700;
}

.cbp-l-inline-desc b {
	font-weight:900;
}

.fullWidth {
	width:100%;
}

#textdiv12 .innerTextDiv p {
	font-size:1.5em;
}

label {
	font-size:1.5em;
}

#clickHere:hover {
	text-decoration:underline;
	cursor:pointer;
}

#companyimg {
	width:100%;
	position:relative;
	margin-bottom:-5.2em;
}

#company {
	clear:both;
	background-color:transparent;
	width:100%;
	height:45em;
	display:none;
	background-image:url(IMG_4055.jpg);
	background-position:center;
	margin-bottom:-5em;
}

#xcross {
	position:absolute;
	width:2em;
	height:2em;
	z-index:100;
	top:0em;
	left:96.5%;
	display:none;
}

#xcross:hover {
	cursor:pointer;
}

#ximg {
	width:inherit;
}

.cbp-l-inline-title {
	font-size:2.5em !important;
}