@charset "UTF-8";

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

#footer {
	height: 15em;
}

#facebook {
	display:none;
}

#twitter {
	display:none;
}

#insta {
	display:none;
}

#youtube {
	display:none;
}

#facebookB {
	display:none;
}

#twitterB {
	display:none;
}

#instaB {
	display:none;
}

#youtubeB {
	display:none;
}

}
