@charset "UTF-8";

@media screen and (max-width: 1000px) {
	
#para1 .downArrow {
	top:90%;
}

#paravid .downArrow {
	top:90%;
}

#para2 .downArrow {
	top:88%;
}

#para4 .downArrow {
	top:90%;
}

#startLogo{
	width:20em;
	margin-left:-10em;
}
/*
#click{
	width:20%;
	margin-left:-10%;
}*/


/*#para3 {
	background-image:url(kane_017.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para4 {
	background-image:url(kane_034.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para5 {
	background-image:url(kane_173.JPG);
	background-position: 35%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para7 {
	background-image:url(kane_142.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
}*/

#aboutPic {
	background-image:url(kane_140.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
}

#aboutPic2 {
	background-image:url(kane_178.JPG);
	background-position: 10%;
	background-repeat:no-repeat;
	background-size:cover;
}

#contactBGimage {
	background-position:-10em;
}

#paravid {
	width:100%;
	height:35em;
	position:relative;
	z-index:20;
	top:0em;
	left:0;
	background-color:transparent;
}

.layer {
    background-color: rgba(6,232,230,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#para4 .blueLine1 {
	top:35em;
}

#para5 .blueLine2 {
	top:35em;
}

#para6 .blueLine5 {
	top:35em;
}


.blueLine1 {
	top:34.9em;
}

.blueLine4 {
	top:34.9em;
}

.blueLine5 {
	top:35em;
}

.blueline3 {
	top:40em;
}

.blueLine2 {
	top:34.9em;
}

#textdiv1 {
	top:16em;
}

#textdiv5 {
	left:7.5%;
	top:15em;
	width:85%;
}

#textdiv6 {
	left:7.5%;
	top:14em;
	width:85%;
}

#textdiv7 {
	left:7.5%;
	top:12em;
	width:85%;
}

#textdiv1 .innerTextDiv p {
	font-size:1.4em;
}

#textdiv6 .innerTextDiv p {
	font-size:2.5em;
}

#textdiv7 .innerTextDiv p {
	font-size:1.7em;
}

#textdiv5 .innerTextDiv p {
	font-size:1.6em;
}

#textdiv2 .innerTextDiv p {
	font-size:1.4em;
}

#para3 {
	margin-bottom:-3em;
}

#para7 {
	margin-bottom:-3em;
}

#contactBGimage {
	margin-bottom: -3em;
}

#aboutPic2 {
	margin-bottom:-3em;
}

#grid-container-projects {
	margin-bottom:5em;
}

#grid-container {
	margin-bottom:5em;
}

#footer {
	margin-top: -2em;
}
	
#youtube {
	left:92.5%;
}

#facebook {
	left:68.5%;
}

#twitter {
	left:76.5%;
}

#insta {
	left:84.5%;
}

#youtubeB {
	left:92.5%;
}

#facebookB {
	left:68.5%;
}

#twitterB {
	left:76.5%;
}

#instaB {
	left:84.5%;
}
	
#footerEddie {
	left:2%;
	font-size:0.65em;
}

#footerText {
	left:2%;
	font-size:0.65em;
}

#footerAdmin {
	font-size:0.8em;
}

#seperator1 {
	left:32%;
}

#seperator2 {
	left:67%;
}

#about {
	left:33%;
}

#team {
	left:73%;
}

#workshops {
	left:59%;
}

#projects {
	left:45%;
}

#contact {
	left:86%;
}

}

/* resize desktop */

@media screen and (max-width: 767px) {
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		position:absolute;
		display:block;
		width:100%;
		top:0.5em;
		z-index:1001;
	}
	
.blueLine1 {
	top:35em
}

.blueLine4 {
	top:35em;
}

.blueLine2 {
	top:35em;
}

#textdiv1 {
	left:7.5%;
	top:19em;
	width:85%;
}

#textdiv2 {
	left:7.5%;
	top:10em;
	width:85%;
}

#textdiv1 .innerTextDiv p {
	font-size:1.4em;
}

#textdiv2 .innerTextDiv p {
	font-size:1.5em;
}

#footer {
	height: 10em;
	margin-top:-7em;
}

#para3 {
	margin-bottom:-3em;
}

#facebook, #facebookB {
	height:40%;
	left:10%;
	top:5%;
	margin-top:0;
}

#twitter, #twitterB {
	height:40%;
	left:33%;
	top:5%;
	margin-top:0;
}

#insta, #instaB {
	height:40%;
	left:56%;
	top:5%;
	margin-top:0;
}

#youtube, #youtubeB {
	height:40%;
	left:79%;
	top:5%;
	margin-top:0;
}

#seperator1 {
	display:none;
}

#seperator2 {
	display:none;
}

#footerText {
	width:100%;
	text-align:center;
	font-size:1em;
	left:0%;
	top:75%;
}

#footerAdmin {
	width:100%;
	text-align:center;
	font-size:1em;
	left:0%;
	top:53%
}

#footerEddie {
	width:100%;
	text-align:center;
	font-size:1em;
	left:0%;
	top: 61%;
}

#grid-container-projects {
	margin-bottom:8em;
}

#grid-container {
	margin-bottom:8em;
}

#contactBGimage {
	margin-bottom: -3em;
}

#textdiv8 {
	width:85%;
	left: 7.5%;
}

#aboutBGinner p {
	font-size:1.1em;
}

#aboutPic .downArrow {
	display:none;
}

#book {
	font-size:0.7em;
	top:6.2em;
}

#textdiv9 .innerTextDiv p {
	font-size:1em;
	margin-top:2.7em;
}

#textdiv9 {
	height:41em;
}

#textdiv10 {
	top:12.8em;
	font-size:0.7em;
}

#textdiv13 {
	top:10em;
}

#textdiv13 .innerTextDiv p {
	font-size:1.3em;
}
	
#sa_contactdiv {
	font-size:1.3em;
}

#textdiv12 {
	font-size:0.9em;
}
}

@media screen and (max-width: 550px) {

#textdiv9 .innerTextDiv p {
	font-size:0.8em;
	margin-top:2.7em;
}

#textdiv9 {
	height:41em;
}

#textdiv1 .innerTextDiv p {
	font-size:1.2em;
}

#textdiv2 .innerTextDiv p {
	font-size:1.3em;
}

#sa_contactdiv input {
	width:80%;
	height:2em;
	font-size:0.7em;
	text-align:center;
}

#sa_contactdiv textarea {
	width:90%;
}
}

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	
#textdiv12 {
	top:8em;
}

#textdiv10 {
	top:10.28em;
}

#textdiv13 {
	top:10em;
}
	
#textdiv13 .innerTextDiv p {
	font-size:1.3em;
}
	
#sa_contactdiv {
	font-size:1.3em;
}
	
#sa_contactdiv input {
	width:80%;
	height:2em;
	font-size:0.7em;
	text-align:center;
}

#para1 .downArrow {
	top:87%;
}

#paravid .downArrow {
	top:89%;
}

#para2 .downArrow {
	top:87%;
}

#para4 .downArrow {
	top:85%;
}

#para6 .downArrow {
	top:85%;
}

#para5 .downArrow {
	top:85%;
}

#startLogo{
	width:30%;
	margin-left:-15%;
}

#click{
	width:13%;
	margin-left:-6.5%;
	top:70%;
}

#textdiv8 {
	width:85%;
	left: 7.5%;
}

#textdiv9 {
	height:42.5em;
}

#aboutPic .downArrow {
	display:none;
}

#aboutBGinner p {
	font-size:1.07em;
}

#menu {
	display:none;
}
	
.slicknav_menu {
	position:absolute;
	display:block;
	width:100%;
	top:0.5em;
}

#para1 {
	background-image:url(kane_082.JPG);
	background-position: 35%;
	background-repeat:no-repeat;
	background-size:cover;
	height:30em;
}

#para2 {
	height:25em;
}

#para3 {
	background-image:url(kane_017.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
	height:30em;
}

#para4 {
	background-image:url(kane_034.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
	height:27em;
}

#para5 {
	background-image:url(kane_173.JPG);
	background-position: 35%;
	background-repeat:no-repeat;
	background-size:cover;
	height:25em;
}

#para6 {
	height:25em;
}

#para7 {
	background-image:url(kane_142.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
	height:25em;
}

#aboutPic {
	background-image:url(kane_140.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
	height:25em;
}

#aboutPic .blueline3 {
	top:25em;
}

#aboutPic2 {
	background-image:url(kane_178.JPG);
	background-position: 10%;
	background-repeat:no-repeat;
	background-size:cover;
	height:35em;
}

#contactBGimage {
	background-position:20%;
}

#paravid {
	width:100%;
	height:25em;
	position:relative;
	z-index:2;
	top:0em;
	left:0;
	background-image:url(kane_055.JPG);
	background-size:cover;
}

.layer {
    background-color: rgba(6,232,230,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blueLine1 {
	top:30em;
}

.blueLine4 {
	top:24.9em;
}

.blueLine5 {
	top:35em;
}

.blueline3 {
	top:40em;
}

.blueLine2 {
		top:25em;
}

#textdiv1 {
	left:7.5%;
	top:15em;
	width:85%;
}

#textdiv2 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv5 {
	left:7.5%;
	top:11em;
	width:85%;
}

#textdiv6 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv7 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv1 .innerTextDiv p {
	font-size:1.3em;
}

#textdiv6 .innerTextDiv p {
	font-size:2em;
}

#textdiv7 .innerTextDiv p {
	font-size:1.5em;
}

#textdiv5 .innerTextDiv p {
	font-size:1.33em;
}

#textdiv2 .innerTextDiv p {
	font-size:1.3em;
}

#footer {
	height: 10em;
	margin-top:-7em;
}

#para3 {
	margin-bottom:-3em;
}

#para7 {
	margin-bottom:-3em;
}

#contactBGimage {
	margin-bottom: -3em;
}

#aboutPic2 {
	margin-bottom:-3em;
}

#facebook {
	height:40%;
	left:4%;
	top:5%;
	margin-top:0;
}

#grid-container-projects {
	margin-bottom:8em;
}

#grid-container {
	margin-bottom:8em;
}

#twitter {
	height:40%;
	left:29%;
	top:5%;
	margin-top:0;
}

#insta {
	height:40%;
	left:54%;
	top:5%;
	margin-top:0;
}

#youtube {
	height:40%;
	left:79%;
	top:5%;
	margin-top:0;
}

#facebookB {
	display:none
}

#twitterB {
	display:none;
}

#instaB {
	display:none;
}

#youtubeB {
	display:none;
}

#seperator1 {
	display:none;
}

#seperator2 {
	display:none;
}

#footerText {
	font-size:0.8em;
	bottom:0%;
	left:0%;
	top:79%;
}

#footerAdmin {
	font-size:0.8em;
	bottom:2.4em;
	left:0%;
}

#footerEddie {
	font-size:0.8em;
	bottom:1.2em;
	left:0%;
	top:64%;
}	

#para4 .blueLine1 {
	top:27em;
}

#para5 .blueLine2 {
	top:25em;
}

#para6 .blueLine5 {
	top:25em;
}
	
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

#textdiv13 {
	top:10em;
}

#textdiv12 {
	font-size:0.8em;
}
	
#textdiv13 .innerTextDiv p {
	font-size:1.3em;
}
	
#sa_contactdiv {
	font-size:1em;
}
	
#sa_contactdiv input {
	width:80%;
	height:2em;
	font-size:0.5em;
	text-align:center;
}

#sa_contactdiv textarea {
	width:100%;
	font-size:1em;
	height:10em;
}

#para1 .downArrow {
	top:90%;
}

#paravid .downArrow {
	top:85%;
}

#para2 .downArrow {
	top:88%;
}

#widthAdjust {
	background-position: -15em;
}

#startLogo{
	width:70%;
	margin-left:-35%;
}

#click{
	width:20%;
	margin-left:-10%;
}

#textdiv8 {
	width:85%;
	left: 7.5%;
}

#textdiv9 {
	height:42.5em;
}

#aboutPic .downArrow {
	display:none;
}

#aboutBGinner p {
	font-size:1.07em;
}

#menu {
	display:none;
}
	
.slicknav_menu {
	position:absolute;
	display:block;
	width:100%;
	top:0.5em;
}

#para1 {
	background-image:url(kane_082.JPG);
	background-position: 35%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para3 {
	background-image:url(kane_017.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para4 {
	background-image:url(kane_034.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para5 {
	background-image:url(kane_173.JPG);
	background-position: 35%;
	background-repeat:no-repeat;
	background-size:cover;
}

#para7 {
	background-image:url(kane_142.JPG);
	background-position: 40%;
	background-repeat:no-repeat;
	background-size:cover;
}

#aboutPic {
	background-image:url(kane_140.JPG);
	background-position: 20%;
	background-repeat:no-repeat;
	background-size:cover;
}

#aboutPic2 {
	background-image:url(kane_178.JPG);
	background-position: 10%;
	background-repeat:no-repeat;
	background-size:cover;
}

#contactBGimage {
	background-position:20%;
}

#paravid {
	width:100%;
	height:20em;
	position:relative;
	z-index:2;
	top:0em;
	left:0;
	background-image:url(kane_055.JPG);
	background-size:cover;
}

.layer {
    background-color: rgba(6,232,230,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blueLine1 {
	top:34.9em;
}

.blueLine4 {
	top:19.9em;
}

.blueLine5 {
	top:35em;
}

.blueline3 {
	top:40em;
}

.blueLine2 {
		top:34.9em;
}

#textdiv1 {
	left:7.5%;
	top:15em;
	width:85%;
}

#textdiv2 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv5 {
	left:7.5%;
	top:11em;
	width:85%;
}

#textdiv6 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv7 {
	left:7.5%;
	top:8em;
	width:85%;
}

#textdiv1 .innerTextDiv p {
	font-size:1.3em;
}

#textdiv6 .innerTextDiv p {
	font-size:2em;
}

#textdiv7 .innerTextDiv p {
	font-size:1.5em;
}

#textdiv5 .innerTextDiv p {
	font-size:1.33em;
}

#textdiv2 .innerTextDiv p {
	font-size:1.3em;
}

#footer {
	height: 10em;
	margin-top:-7em;
}

#para3 {
	margin-bottom:-3em;
}

#para7 {
	margin-bottom:-3em;
}

#contactBGimage {
	margin-bottom: -3em;
}

#aboutPic2 {
	margin-bottom:-3em;
}

#facebook {
	height:40%;
	left:4%;
	top:5%;
	margin-top:0;
}

#grid-container-projects {
	margin-bottom:8em;
}

#grid-container {
	margin-bottom:8em;
}

#twitter {
	height:40%;
	left:29%;
	top:5%;
	margin-top:0;
}

#insta {
	height:40%;
	left:54%;
	top:5%;
	margin-top:0;
}

#youtube {
	height:40%;
	left:79%;
	top:5%;
	margin-top:0;
}

#facebookB {
	display:none
}

#twitterB {
	display:none;
}

#instaB {
	display:none;
}

#youtubeB {
	display:none;
}

#seperator1 {
	display:none;
}

#seperator2 {
	display:none;
}

#footerText {
	font-size:0.8em;
	bottom:0%;
	left:0%;
	top:79%;
}

#footerAdmin {
	font-size:0.8em;
	bottom:2.4em;
	left:0%;
}

#footerEddie {
	font-size:0.8em;
	bottom:1.2em;
	left:0%;
	top:64%;
}
}