@charset "UTF-8";

@media screen and (max-width: 1000px) {
	
#youtube {
	left:93%;
}

#facebook {
	left:70.5%;
}

#twitter {
	left:78%;
}

#insta {
	left:85.5%;
}
	
#footerEddie {
	left:2%;
	font-size:0.65em;
}

#footerText {
	left:2%;
	font-size:0.65em;
}

#footerAdmin {
	font-size:0.8em;
}

#seperator1 {
	left:32%;
}

#seperator2 {
	left:67%;
}

#about {
	left:35%;
}

#team {
	left:75%;
}

#workshops {
	left:61%;
}

#projects {
	left:47%;
}

#contact {
	left:88%;
}

}